<center><h1>Mi primer Bot</h1></center>  <hr>
<center><h2>Conitenido</h2></center>
 <center><div class="container" id="contiene tabla" style="width:50%;">
<table id="tabla" class="table table-bordered">
  <tr>
    <th>Comando</th>
    <th>Lo que muestra</th>
    </tr>
    <tr>
    <td>/soy Berenice</td>
    <td>Envia un Hola...</td>
    </tr>
      <tr>
    <td>/imagen simpsons</td>
    <td>Envia una imagen...</td>
    </tr>
      <tr>
    <td>/auido</td>
    <td>Envia una canción...</td>
    </tr>
    <tr>
    <td>/ubicacion </td>
    <td>Envia una ubicación...</td>
    </tr>
</table>
</div>
</center>
